<ul>
{{#each snippets}}
	<li class="snippets-item" data-id="{{this.id}}">
		<div class="avatar"></div>
		<div class="filename"><a href="#" title="Open snippet '{{this.filename}}'" class="snippet-edit-button">{{this.filename}}</a></div>
		<div class="description">{{this.description}}</div>
		<div class="content">{{this.content}}</div>
	</li>
{{/each}}
</ul>